@inherits StatefulComponent<SortedCollection<ArrivelistEntry>>;

@using Core.Application.Services;
@using Core.Domain.AggregateRoots.Manager.Aggregates.Arrivelists;
@using Core.Models;
@using EMS.Witness.Common;
@using EMS.Witness.Services;

@inject IDateService DateService;

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var arrive in this.State)
        {
            <tr>
                <td>@arrive.Number</td>
                <td>@arrive.Name</td>
                <td>
                    <button class="btn btn-success btn-table" @onclick="_ => this.WitnessService.Snapshot(arrive)">Snapshot</button>
                </td>
            </tr>
        }
    </tbody>
</table>