@using NTS.Domain.Setup.Entities
@using Not.Blazor.TM
@using Not.Blazor.TM.Pages
@using NTS.Judge.Blazor.Pages.Setup.Combinations

@attribute [Route(COMBINATIONS_PAGE)]
@inherits NotComponent

<NotPage Title="Pair Athletes and Horses" Class="not-mid-width">
    
    <Main>
        <CrudList T="Combination" TForm="CombinationForm" TModel="CombinationFormModel" UpdateRoute="@COMBINATION_UPDATE" />
    </Main>

</NotPage>