@using NTS.Domain.Setup.Entities
@using NTS.Judge.Blazor.Pages.Setup.Loops


@using Not.Blazor.CRUD.Lists

@attribute [Route(LOOPS_PAGE)]
@inherits NComponent

<NotPage Title="Configure Loops" Class="not-mid-width">

    <Main>
        <CrudList T="Loop" TModel="LoopFormModel" TForm="LoopForm" UpdateRoute="@LOOP_UPDATE" />
    </Main>

</NotPage>
