@page "/persistence-demo"
@using Not.Conventions;
@using EMS.Domain.Core.PersistenceDemo;
@inject IPersistenceDemoRepository EventRepository;

<h1>Persistence demo</h1>

@code {  
    protected override void OnInitialized()
    {
        this.EventRepository.Get(Guid.NewGuid());
    }
}
