@using NTS.Domain.Setup.Aggregates
@using Not.Blazor.CRUD.Forms.Components
@using Not.Blazor.Components
@using Not.Blazor.Navigation

@attribute [Route(COMBINATION_UPDATE)]
@inherits NComponent

<NContent Title="Configure Combination">

    <Main>
        <NUpdateContainer T="CombinationFormModel" TForm="CombinationForm" Model="_navigator.ConsumeParameter<CombinationFormModel>()" />
    </Main>

</NContent>

@code {
    [Inject]
    private ICrumbsNavigator _navigator { get; set; } = default!;
}
