@using Not.Blazor.CRUD.Forms.Components

@attribute [Route(COMBINATION_UPDATE)]
@inherits NComponent

<NContent Title="Configure Combination">

    <Main>
        <NUpdateContainer T="CombinationFormModel" TForm="CombinationForm" Model="Navigator.ConsumeParameter<CombinationFormModel>()" />
    </Main>

</NContent>
