@page "/staff-member"

@using Common.Application.Forms;
@using EMS.Domain.Setup.Entities;
@using EMS.Judge.Setup.StaffMembers;
@using EMS.Judge.UI.Services;
@inject IManageChild<Event, StaffMember> _service;
@inject NavigationManager _navigation;
@inject INavigationContext _navigationContext;

<h3>StaffMember</h3>

<MudTextField Label="Place" @bind-Value="_model!.Name" />

<MudSelect Label="Role" @bind-Value="_model.Role">
    @foreach (var item in Enum.GetValues<StaffRole>())
    {
        <MudSelectItem Value="@item">@item</MudSelectItem>
    }
</MudSelect>

<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="Update">Update</MudButton>
    
@code {
    private StaffMemberUpdateModel _model = default!;

    protected override void OnInitialized()
    {
        _model = new(_navigationContext.StaffMemberUpdate);
    }

    private async Task Update()
    {
        var entity = new StaffMember(_model.Id, _model.Name, _model.Role);
        await _service.Update(entity);
        _navigation.NavigateTo("/");
    }
}
