@using NTS.Domain.Setup.Entities
@using NTS.Judge.Blazor.Setup.AthletesHorses.Athletes
@using NTS.Judge.Blazor.Setup.AthletesHorses.Horses
@using Not.Blazor.CRUD.Lists

@attribute [Route(ATHLETES_HORSES_PAGE)]
@inherits NComponent

<NContent Title="Athletes & Horses">

    <Main>
        <MudGrid Spacing="8" Style="margin-top:0!important;">
            <MudItem xs="6">
                <CrudList T="Athlete" TForm="AthleteForm" TModel="AthleteFormModel" UpdateRoute="@ATHLETE_UPDATE" />
            </MudItem>
            
            <MudItem xs="6">
                <CrudList T="Horse" TForm="HorseForm" TModel="HorseFormModel" UpdateRoute="@HORSE_UPDATE" />
            </MudItem>
        </MudGrid>
    </Main>

</NContent>
