@page "/"

@using EMS.Witness.Common.Components
@using EMS.Witness.Pages.Witness.Components

<div class="accordion">
    <div class="accordion-item">
        <Collapsable>
            <Header>Record Arrive Time</Header>
            <Content>
                <SnapshotComponent />
            </Content>
        </Collapsable>
    </div>
    <div class="accordion-item">
        <Collapsable>
            <Header>Save (Edit) Time</Header>
            <Content>
                <SaveFormComponent />
            </Content>
        </Collapsable>
    </div>
    <div class="accordion-item">
        <Collapsable>
            <Header>History</Header>
            <Content>
                <HistoryComponent />
            </Content>
        </Collapsable>
    </div>
</div>