@using NTS.Domain.Setup.Entities;
@using Not.Blazor.Components;
@using Not.Blazor.Navigation;
@using Not.Blazor.TM.Forms.Components
@using Not.Blazor.TM.Pages

@attribute [Route(HORSE_UPDATE)]
@inherits NotComponent

<NotPage Title="Configure Horse">

    <Main>
        <NotFormUpdate T="Horse" TForm="HorseForm" Entity="_navigator.ConsumeParameter<Horse>()" UpdateAction="Update" />
    </Main>

</NotPage>

@code{
    private Horse _horse {get; set;} = default!;
    [Inject]
    INotSetBehind<Horse> _setBehind { get; set; } = default!;
    [Inject]
    INavigator _navigator { get; set; } = default!;

    protected async Task Update(Horse horse)
    {
        await _setBehind.Update(horse);
        _navigator.NavigateTo(ENDURANCE_EVENT_PAGE);
    }
}
