@using Not.Blazor.Components;
@using Not.Blazor.Navigation;
@using Not.Blazor.TM.Forms.Components

@attribute [Route(HORSE_UPDATE)]
@inherits NotComponent

<NotPage Title="Configure Horse">

    <Main>
        <UpdateForm T="HorseFormModel" TForm="HorseForm" Model="_navigator.ConsumeParameter<HorseFormModel>()" />
    </Main>

</NotPage>

@code{
    [Inject]
    ICrumbsNavigator _navigator { get; set; } = default!;
}
