@using NTS.Domain.Setup.Entities;
@using Not.Blazor.Components;
@using Not.Blazor.Navigation;
@using Not.Blazor.TM.Forms.Components
@using Not.Blazor.TM.Pages

@attribute [Route(HORSE_UPDATE)]
@inherits NotComponent

<NotPage Title="Configure Horse">

    <Main>
        <NotFormUpdate T="Horse" TForm="HorseForm" Entity="_navigator.ConsumeParameter<Horse>()" />
    </Main>

</NotPage>

@code{
    [Inject]
    INavigator _navigator { get; set; } = default!;
}
