@using NTS.Domain.Setup.Entities;
@using NTS.Judge.Blazor.Pages.Setup.Phases
@using NTS.Judge.Setup.Competitions
@using Not.Blazor.CRUD.Forms.Components

@using Not.Blazor.Navigation
@using NTS.Judge.Blazor.Pages.Setup.Contestants

@using Not.Blazor.CRUD.Lists

@attribute [Route(COMPETITION_UPDATE)]
@inherits NComponent

<NContent Title="Configure Competition" HasContent="_competition != null" EmptyMessage="Competition does not exist">

    <Main>
        <NGrid Spacing="8">
            
            <MudItem xs="12">
                <UpdateForm T="CompetitionFormModel" TForm="CompetitionForm" Model="_competition" />
            </MudItem>

            <MudItem xs="6">
                @* //TODO: behind creates multiple phases at once. *@
                <CrudList T="Phase" TModel="PhaseFormModel" TForm="PhaseForm" UpdateRoute="@PHASE_UPDATE" ParentId="_competition!.Id"/>
            </MudItem>

            <MudItem xs="6">
                @* //TODO: behind creates multiple contestants at once. *@
                <CrudList T="Participation" TModel="ParticipationFormModel" TForm="ParticipationForm" 
                    UpdateRoute="@PARTICIPATION_UPDATE" ParentId="_competition!.Id" />
            </MudItem>

        </NGrid>
    </Main>

</NContent>

@code {
    CompetitionFormModel? _competition { get; set; } = default!;
    [Inject]
    ICrumbsNavigator _navigator { get; set; } = default!;

    protected override void OnInitialized()
    {
        _competition = _navigator.ConsumeParameter<CompetitionFormModel>();
    }
}
