@using NTS.Domain.Setup.Aggregates
@using Not.Blazor.CRUD.Forms.Components
@using Not.Blazor.Components
@using Not.Blazor.Navigation

@attribute [Route(PARTICIPATION_UPDATE)]
@inherits NComponent

<NContent Title="Configure Participation">

    <Main>
        <NUpdateContainer T="ParticipationFormModel" TForm="ParticipationForm" Model="Navigator.ConsumeParameter<ParticipationFormModel>()" />
    </Main>

</NContent>
