@inherits StatefulComponent
@using Core.Application.Services;
@using Core.Domain.AggregateRoots.Manager
@using Core.Domain.AggregateRoots.Manager.Aggregates.ParticipantEntries;
@using Core.Models;
@using EMS.Witness.Common;
@using EMS.Witness.Services;
@inject IParticipantsService ParticipantsService;
@inject IDateService DateService;
@inject IPopupService PopupService;

<div class="row mb-1">
    <EditForm Model="@witnessModel" OnSubmit="EditSnapshot">
        <div class="mb-3">
            <InputNumber @bind-Value="this.witnessModel.Number" class="form-control" required onclick="this.select();" placeholder="Number" />
        </div>
        <div class="mb-3">
            <div class="d-inline-flex">
                <InputNumber @bind-Value="this.witnessModel.Hour" class="form-control" onclick="this.select();" placeholder="Hr" />
                <span class="time-delimiter mx-1">:</span>
                <InputNumber @bind-Value="this.witnessModel.Minute" class="form-control" onclick="this.select();" placeholder="Min" />
                <span class="time-delimiter mx-1">:</span>
                <InputNumber @bind-Value="this.witnessModel.Second" class="form-control" onclick="this.select();" placeholder="Sec" />
                <span class="time-delimiter mx-1">:</span>
                <InputNumber @bind-Value="this.witnessModel.Millisecond" class="form-control" onclick="this.select();" placeholder="Mil" />
                <button class="btn btn-primary ms-2" type="submit">Edit</button>
            </div>
        </div>
    </EditForm>
</div>
<div class="row mb-1">
    <table class="table">
        <thead>
            <tr>
                <th>-</th>
                <th>#</th>
                <th>Name</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var entry in this.ParticipantsService.Snapshots)
            {
                <tr>
                    <td>
                        <button class="btn btn-danger btn-table" @onclick="_ => this.ParticipantsService.RemoveSnapshot(entry)">-</button>
                    </td>
                    <td>@entry.Number</td>
                    <td>@entry.Name</td>
                    <td>@this.DateService.FormatTime(entry.ArriveTime!.Value)</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="row mb-1">
    <button class="btn btn-primary" @onclick="_ => this.SaveSnapshots()">Save</button>
</div>

@code {
    private const string ARR_TEXT = "ARR (Arrive)";
    private const string IN_TEXT = "IN (Vetgate)";
    private string buttonText = "Save";
    private WitnessEventType type;
    private string saveDropdownClass = "";
    private ArriveEditModel witnessModel = new();
    private string kur = "devel";

    protected override bool ShouldRender(object changedState)
    {
        return changedState == this.ParticipantsService.Snapshots;
    }

    private void EditSnapshot()
    {
        var now = DateTime.Now;
        var time = DateTime.Today
            .AddHours(this.witnessModel.Hour ?? now.Hour)
            .AddMinutes(this.witnessModel.Minute ?? now.Minute)
            .AddSeconds(this.witnessModel.Second ?? now.Second)
            .AddMilliseconds(this.witnessModel.Millisecond ?? now.Millisecond);
        this.ParticipantsService.EditSnapshot(this.witnessModel.Number.ToString(), time);
    }

    private async Task SaveSnapshots()
    {
        var type = await this.PopupService.SelecEventType();
        if (type is null)
        {
            return;
        }
        await this.ParticipantsService.SaveSnaphots(type.Value);
    }

    private class ArriveEditModel
    {
        public int Number;
        public int? Hour;
        public int? Minute;
        public int? Second;
        public int? Millisecond;
    }
}
