@using NTS.Domain.Setup.Entities
@using Not.Blazor.CRUD.Forms.Components
@using Not.Blazor.Components
@using Not.Blazor.Navigation

@attribute [Route(PARTICIPATION_UPDATE)]
@inherits NComponent

<NContent Title="Configure Participation">

    <Main>
        <NUpdateContainer T="ParticipationFormModel" TForm="ParticipationForm" Model="_navigator.ConsumeParameter<ParticipationFormModel>()" />
    </Main>

</NContent>

@code {
    [Inject]
    private ICrumbsNavigator _navigator { get; set; } = default!;
}
