@using NTS.Domain.Setup.Entities
@using Not.Blazor.CRUD.Forms.Components
@using Not.Blazor.Components
@using Not.Blazor.Components.Base
@using Not.Blazor.Navigation
@using Not.Blazor.Mud.Components
@using Not.Blazor.Components.N

@attribute [Route(PARTICIPATION_UPDATE)]
@inherits NotComponent

<NotPage Title="Configure Participation">

    <Main>
        <UpdateForm T="ParticipationFormModel" TForm="ParticipationForm" Model="_navigator.ConsumeParameter<ParticipationFormModel>()" />
    </Main>

</NotPage>

@code {
    [Inject]
    private ICrumbsNavigator _navigator { get; set; } = default!;
}
