@using Common.Application.Behinds;
@using EMS.Domain.Setup.Entities;
@using EMS.Judge.Setup.StaffMembers;
@using Not.Blazor.Navigation;
@using Not.Blazor.TM.Forms

@attribute [Route(OFFICIAL_PAGE)]

@inject INotBehindParent<Official> _parentBehind;
@inject INavigator _navigator

<h3>StaffMember</h3>

<NotUpdate T="Official" TForm="OfficialFields" Entity="_navigator.ConsumeParameter<Official>()" UpdateAction="Update" />
    
@code {
    protected async Task Update(Official official)
    {
        await _parentBehind.Update(official);
        _navigator.NavigateTo(SETUP_PAGE);
    }
}
