@page "/staff-member"

@using Common.Application;
@using EMS.Domain.Setup.Entities;
@using EMS.Judge.Setup.StaffMembers;
@using EMS.Judge.UI.Services;
@using Common.Application.Behinds;

@inject INotBehindParent<Official> _parentBehind;
@inject NavigationManager _navigation;
@inject INavigationContext _navigationContext;

<h3>StaffMember</h3>

<EditForm Model="_model">
    <DataAnnotationsValidator />

    <MudCard>
        <OfficialFields Model="_model" />
    </MudCard>
</EditForm>

<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="Update">Update</MudButton>
    
@code {
    private OfficialUpdateModel _model = default!;

    protected override void OnInitialized()
    {
        _model = new(_navigationContext.OfficialUpdate);
    }

    private async Task Update()
    {
        var entity = Official.Update(_model.Id, _model.Name, _model.Role);
        await _parentBehind.Update(entity);
        _navigation.NavigateTo("/");
    }
}
