@using NTS.Domain.Setup.Entities;
@using Not.Blazor.Components;
@using Not.Blazor.Navigation;
@using Not.Blazor.TM.Forms.Components
@using Not.Blazor.TM.Pages

@attribute [Route(COMBINATION_UPDATE)]
@inherits NotComponent

<NotPage Title="Configure Combination">

    <Main>
        <UpdateForm T="CombinationFormModel" TForm="CombinationForm" Model="_navigator.ConsumeParameter<CombinationFormModel>()" />
    </Main>

</NotPage>

@code {
    [Inject]
    private ICrumbsNavigator _navigator { get; set; } = default!;
}