@using NTS.Domain.Core.Aggregates.Participations
@using NTS.Domain.Objects
@using NTS.Domain.Core.Entities
@using NTS.Judge.Blazor.Pages.Dashboard.Components.Actions
@using NTS.Judge.Blazor.Ports
@using NTS.Judge.Blazor.Enums
@using Not.Structures
@using Not.Blazor.TM
@using Not.Events

@inherits NotComponent

<h3>Actions</h3>

<MudPaper Class="d-flex flex-column half-width" Elevation="0">
    <ManualTimeSnapshot />

    <InspectionsPanel />

    <EliminationsPanel/>
</MudPaper>

@code {
    [Inject]
    IParticipationBehind _participationBehind { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        await Observe(_participationBehind);
    }
}
