@using NTS.Domain.Setup.Entities
@using Not.Blazor.CRUD.Forms.Components
@using Not.Blazor.Navigation

@attribute [Route(OFFICIAL_UPDATE)]
@inherits NComponent

<NContent Title="Configure Official">

    <Main>
        <NUpdateContainer T="OfficialFormModel" TForm="OfficialForm" Model="_navigator.ConsumeParameter<OfficialFormModel>()" />
    </Main>

</NContent>

@code {
    [Inject]
    private ICrumbsNavigator _navigator { get; set; } = default!;
}
