@page "/startlist"

@using EMS.Witness.Services;
@using EMS.Witness.Pages.Startlist.Components;
@using Core.Domain.AggregateRoots.Manager.Aggregates.Startlists

<div class="container">
    <div class="row">
        <StartlistComponent />
    </div>
</div>