@using NTS.Domain.Setup.Entities;
@using Not.Blazor.Components;
@using Not.Blazor.Navigation;
@using Not.Blazor.TM.Forms.Components
@using Not.Blazor.TM.Pages

@attribute [Route(ATHLETE_UPDATE)]
@inherits NotComponent

<NotPage Title="Configure Athlete">

    <Main>
        <NotFormUpdate T="Athlete" TForm="AthleteForm" Entity="_navigator.ConsumeParameter<Athlete>()" />
    </Main>

</NotPage>

@code {
    [Inject]
    private INavigator _navigator { get; set; } = default!;
}