@using NTS.Domain.Setup.Entities;
@using Not.Blazor.Components;
@using Not.Blazor.Navigation;
@using Not.Blazor.TM.Forms.Components
@using Not.Blazor.TM.Pages

@attribute [Route(ATHLETE_UPDATE)]
@inherits NotComponent

<NotPage Title="Configure Athlete">

    <Main>
        <NotFormUpdate T="Athlete" TForm="AthleteForm" Entity="_navigator.ConsumeParameter<Athlete>()" UpdateAction="Update" />
    </Main>

</NotPage>

@code {
    [Inject]
    private INotSetBehind<Athlete> _behind { get; set; } = default!;
    [Inject]
    private INavigator _navigator { get; set; } = default!;

    protected async Task Update(Athlete athlete)
    {
        await _behind.Update(athlete);
        _navigator.NavigateTo(ENDURANCE_EVENT_PAGE);
    }
}