@using NTS.Domain.Setup.Entities
@using Not.Blazor.CRUD.Forms.Components
@using Not.Blazor.Components
@using Not.Blazor.Navigation

@attribute [Route(ATHLETE_UPDATE)]
@inherits NComponent

<NotPage Title="Configure Athlete">

    <Main>
        <UpdateForm T="AthleteFormModel" TForm="AthleteForm" Model="_navigator.ConsumeParameter<AthleteFormModel>()" />
    </Main>

</NotPage>

@code {
    [Inject]
    private ICrumbsNavigator _navigator { get; set; } = default!;
}
