@using NTS.Domain.Setup.Entities;
@using Not.Blazor.Components;
@using Not.Blazor.Navigation;
@using Not.Blazor.TM.Forms.Components
@using Not.Blazor.TM.Pages

@attribute [Route(ATHLETE_UPDATE)]
@inherits NotComponent

<NotPage Title="Configure Athlete">

    <Main>
        <NewNotFormUpdate T="AthleteFormModel" TForm="AthleteForm" Model="_navigator.ConsumeParameter<AthleteFormModel>()" />
    </Main>

</NotPage>

@code {
    [Inject]
    private ICrumbsNavigator _navigator { get; set; } = default!;
}