@using NTS.Judge.Blazor.Pages.Dashboard.Ranklist
@using NTS.Judge.Blazor.Ports
@using Not.Blazor.Print
@using Not.Blazor.TM
@using Not.Blazor.TM.Pages

@attribute [Route(RANKLIST_PAGE)]
@inherits PrintableComponent

<NotPage Title="Ranklist" HasContent="_behind.Ranklist != null" EmptyMessage="The Event isn't started yet :)">
    @* // TODO: Add Start button in EmptyContent *@

    <Main>
        @if (_showProtocol)
        {
           <Protocol Ranklist="_behind.Ranklist!" />
        }
        else
        {
            <RanklistTable />
        }
    </Main>

    <Rightbar>
        <TextDividerTM Text="Export" />

        <NotButtonPrint OnClick="OpenPrintDialog" Class="mb-4" />

        <NotButtonPrimary Text="@_showButtonText" Variant="Variant.Text" OnClick="ToggleShowButton" />

        <RankingMenu />
    </Rightbar>

</NotPage>

@code {
    string _showButtonText => _showProtocol ? "Ranklist" : "Protocol";
    bool _showProtocol;

    [Inject]
    IRanklistBehind _behind { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        await Observe(_behind);
    }

    void ToggleShowButton()
    {
        _showProtocol = !_showProtocol;
    }
}