@using NTS.Judge.Blazor.Pages.Dashboard.Ranklist
@using NTS.Judge.Blazor.Ports
@using Not.Blazor.Print

@attribute [Route(RANKLIST_PAGE)]
@inherits PrintableComponent

<NContent Title="Ranklist" HasContent="_behind.Ranklist != null" EmptyMessage="The Event isn't started yet :)">
    @* // TODO: Add Start button in EmptyContent *@

    <Main>
        @if (_showProtocol)
        {
           <Protocol Ranklist="_behind.Ranklist!" />
        }
        else
        {
            <RanklistTable />
        }
    </Main>

    <Rightbar>
        <NTextDivider Text="Export" />

        <MudButtonGroup OverrideStyles="false" Variant="Variant.Outlined" Class="align-center">
            <MudMenu 
                Icon="@Icons.Material.Filled.ArrowDropDown"
                Color="Color.Primary"
                Variant="Variant.Outlined" 
                Class="sidebar-menu-button align-center"
                Style="align-self:auto">

                <MudMenuItem OnClick="ShowRanklist">@Localizer.Get("Ranklist")</MudMenuItem>

                <MudMenuItem OnClick="ShowProtocol">@Localizer.Get("Protocol")</MudMenuItem>
            </MudMenu>

            <NotButtonPrint OnClick="OpenPrintDialog" />
        </MudButtonGroup>

        <RankingMenu Class="mt-4" />
    </Rightbar>

</NContent>

@code {
    bool _showProtocol;

    [Inject]
    IRanklistBehind _behind { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        await Observe(_behind);
    }

    void ShowProtocol()
    {
        _showProtocol = true;
    }

    void ShowRanklist()
    {
        _showProtocol = false;
    }
}

<style>
    .sidebar-menu-button > button.mud-button-root {
        padding-top: 6px !important;
        padding-bottom: 5px !important;
    }
</style>
