@using NTS.Judge.Blazor.Pages.Dashboard.Ranklist
@using NTS.Judge.Blazor.Ports
@using Not.Blazor.Print
@using Not.Blazor.TM.Pages

@attribute [Route(RANKLIST_PAGE)]
@inherits PrintableComponent

<NotPage Title="Ranklist" HasContent="_behind.Ranklist != null" EmptyMessage="The Event isn't started yet :)">
    @* // TODO: Add Start button in EmptyContent *@

    <Main>
        <RanklistTable />
    </Main>

    <Rightbar>
        <NotButtonPrint OnClick="OpenPrintDialog" Class="mb-4" />

        <RankingMenu />
    </Rightbar>

</NotPage>

@code {
    [Inject]
    IRanklistBehind _behind { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        await Observe(_behind);
    }
}