@using NTS.Domain.Setup.Entities
@using Not.Blazor.CRUD.Forms.Components
@using Not.Blazor.Components.Base
@using Not.Blazor.Navigation;
@using Not.Blazor.Components.N

@attribute [Route(PHASE_UPDATE)]
@inherits NotComponent

<NotPage Title="Configure Phase">

    <Main>
        <UpdateForm T="PhaseFormModel" TForm="PhaseForm" Model="_navigator.ConsumeParameter<PhaseFormModel>()" />
    </Main>

</NotPage>

@code {
    [Inject]
    private ICrumbsNavigator _navigator { get; set; } = default!;
}
