@using NTS.Domain.Setup.Entities;
@using Not.Blazor.Components;
@using Not.Blazor.Navigation;
@using Not.Blazor.TM.Forms.Components
@using Not.Blazor.TM.Pages

@attribute [Route(PHASE_UPDATE)]
@inherits NotComponent

<NotPage Title="Configure Phase">

    <Main>
        <NotFormUpdate T="Phase" TForm="PhaseForm" Model="_navigator.ConsumeParameter<Phase>()" />
    </Main>

</NotPage>

@code {
    [Inject]
    private ICrumbsNavigator _navigator { get; set; } = default!;
}