@using NTS.Domain.Setup.Entities
@using Not.Blazor.CRUD.Forms.Components

@using Not.Blazor.Navigation;


@attribute [Route(PHASE_UPDATE)]
@inherits NComponent

<NContent Title="Configure Phase">

    <Main>
        <NUpdateContainer T="PhaseFormModel" TForm="PhaseForm" Model="_navigator.ConsumeParameter<PhaseFormModel>()" />
    </Main>

</NContent>

@code {
    [Inject]
    private ICrumbsNavigator _navigator { get; set; } = default!;
}
