@using MudBlazor; @* Usings should be followed with empty line *@

@inject IServiceProvider _serviceProvider // Disallow @inject

<div>
    <p>1</p>
    <p>disallow - no space between 1 and 2</p>
    <p>2</p>
</div>

<MudTextField T="string" @ref="_refFirst" />

<MudTextField T="string" @bind-Value="_tShouldNotBeNecessary" />

<MudTextField T="string" Style="margin-top:10px" Class="style-and-class-last" Label="label" />
<MudText>Should be separated by empty line</MudText>

<MudTextField T="string" Label="ShouldAutoClose"></MudTextField>

<MudStack><MudText>Should not allow nested tags on same line</MudText></MudStack>

@code {
    string _tShouldNotBeNecessary;
    MudTextField<string> _refFirst;
}
