@using Core.Application.Rpc;
@using EMS.Witness.Services;
@using EMS.Witness.Rpc;

<div class="top-row ps-3 navbar navbar-dark">
	<div class="container-fluid">
		@if (this.isHandshaking)
		{
			<div class="col-3">
				<div class="spinner-border text-danger" role="status">
					<span class="visually-hidden">Loading...</span>
				</div>
			</div>
		}
		@if (this.rpcConnectionStatus == RpcConnectionStatus.Connecting)
		{
			<div class="col-3">
				<div class="spinner-border text-warning" role="status">
					<span class="visually-hidden">Loading...</span>
				</div>
			</div>
		}
		@if (this.rpcConnectionStatus == RpcConnectionStatus.Connected)
		{
			<div class="col-8">
				<a class="navbar-brand" href="">eWitness</a>
			</div>
		}
		@if (!isHandshaking && rpcConnectionStatus == RpcConnectionStatus.Disconnected)
		{
			<button class="btn btn-warning" @onclick="_rpcInitializer.StartConnections">Reconnect</button>
		}
		<button class="btn btn-primary" @onclick="() => _participantsService.Load()"></button>
		<div class="col-3">
			<button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
				<span class="navbar-toggler-icon"></span>
			</button>
		</div>
	</div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
	<nav class="flex-column">
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
				<span class="oi oi-home" aria-hidden="true"></span> Witness
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="startlist">
				<span class="oi oi-list-rich" aria-hidden="true"></span> Startlist
			</NavLink>
		</div>
	</nav>
</div>

@code {
	[Inject]
	private IWitnessContext Context { get; set; } = default!;
	[Inject]
	private IEnumerable<IRpcClient> RpcClients { get; set; } = default!;
	[Inject]
	private IToaster _toaster { get; set; } = default!;
	[Inject]
	private IRpcInitalizer _rpcInitializer { get; set; } = default!;
	[Inject]
	private IParticipantsService _participantsService { get; set; } = default!;

	private bool CollapseNavMenu = true;

	private string NavMenuCssClass
		=> this.CollapseNavMenu ? "collapse" : string.Empty;

	private void ToggleNavMenu()
	{
		this.CollapseNavMenu = !this.CollapseNavMenu;
	}

	private RpcConnectionStatus rpcConnectionStatus;
	private bool isHandshaking;

	protected override async Task OnInitializedAsync()
	{
		foreach (var client in this.RpcClients)
		{
			client.ServerConnectionChanged += async (sender, status) =>
			{
				if (this.rpcConnectionStatus != status)
				{
					this.rpcConnectionStatus = status;
					await this.InvokeAsync(this.StateHasChanged);
				}
			};
			client.ServerConnectionInfo += (senderName, message) =>
			{
				_toaster.Add(senderName!.ToString(), message, UiColor.Warning, 10);
			};
		}
		this.Context.IsHandshakingEvent += async (sender, isHandshaking) =>
		{
			if (this.isHandshaking != isHandshaking)
			{
				this.isHandshaking = isHandshaking;
				await this.InvokeAsync(this.StateHasChanged);
			}
		};
		await _rpcInitializer.StartConnections();
		_toaster.Add("NavMenu initialized", "You should only see this once!", UiColor.Warning, 15);
	}
}
