@using NTS.Domain.Setup.Entities;
@using NTS.Judge.Blazor.Setup.Officials
@using Not.Blazor.Components;
@using Not.Blazor.Navigation;
@using Not.Blazor.TM.Forms.Components
@using Not.Blazor.TM.Pages

@attribute [Route(OFFICIAL_UPDATE)]
@inherits NotComponent

<NotPage Title="Configure Official">

    <Main>
        <UpdateForm T="OfficialFormModel" TForm="OfficialForm" Model="_navigator.ConsumeParameter<OfficialFormModel>()" />
    </Main>

</NotPage>

@code {
    [Inject]
    private ICrumbsNavigator _navigator { get; set; } = default!;
}