@using NTS.Domain.Setup.Entities;
@using Not.Blazor.Components;
@using Not.Blazor.Navigation;
@using Not.Blazor.TM.Forms.Components
@using Not.Blazor.TM.Pages

@attribute [Route(OFFICIAL_UPDATE)]
@inherits NotComponent

<NotPage Title="Configure Official">

    <Main>
        <NotFormUpdate T="Official" TForm="OfficialForm" Entity="_navigator.ConsumeParameter<Official>()" />
    </Main>

</NotPage>

@code {
    [Inject]
    private ICrumsNavigator _navigator { get; set; } = default!;
}