@using Not.Blazor.CRUD.Forms.Components
@using Not.Exceptions

@namespace Not.Blazor.Components
@typeparam T
@typeparam TForm where TForm : FormTM<T>

@if (Model == null)
{
    <p>Model parameter is null at NotDynamic</p>
}
else
{
}

<DynamicComponent Type="typeof(TForm)" @ref="_dynamicComponent" Parameters="_parameters" />

@code {
    DynamicComponent? _dynamicComponent;
    Dictionary<string, object> _parameters = [];

    [Parameter, EditorRequired]
    public T Model { get; set; } = default!;

    protected override void OnParametersSet()
    {
        if (Model == null)
        {
            return;
        }
        var key = nameof(FormTM<T>.Model);
        if (_parameters.ContainsKey(key))
        {
            _parameters[key] = Model;
        }
        else
        {
            _parameters.Add(key, Model);
        }
    }

    internal TForm Instance
    {
        get
        {
            if (_dynamicComponent?.Instance == null)
            {
                throw GuardHelper.Exception($"Instance of '{typeof(TForm)}' is null");
            }
            return (TForm)_dynamicComponent.Instance;
        }
    }
}
