@page "/"

@using EMS.Witness.Services;

<h1>Configuration</h1>

@code {
	[Inject]
	private IApiService ApiService { get; set; } = null!;

	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();
		await this.ApiService.Handshake();
	}
}
