@page "/startlist"

@inject IDateService DateService;

@using EMS.Witness.Services;
@using Core.Application.Services;
@using Core.Domain.AggregateRoots.Manager.Aggregates.Startlists

<table class="table">
	<thead>
		<tr>
			<th>#</th>
			<th>Name</th>
			<th>Distance</th>
			<th>Start Time</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var start in this.State.Startlist)
		{
			<tr>
				<td>@start.Number</td>
				<td>@start.AthleteName</td>
				<td>@start.Distance</td>
				<td>@this.DateService.FormatTime(start.StartTime)</td>
			</tr>
		}
	</tbody>
</table>

@code {
	[Inject]
	private IState State { get; set; } = null!;
}
