@page "/witness"
@using Core.Domain.AggregateRoots.Manager;
@using EMS.Witness.Components
@using EMS.Witness.Services;
@inject IArrivelistService ArrivelistService;

<div class="container">
    <div class="row mb-3">
        <EditForm Model="@this.Model">
            <label for="type" class="form-label">Type</label>
            <InputSelect @bind-Value="@this.ArrivelistService.Type" class="form-control">
                @foreach (var value in Enum.GetValues<WitnessEventType>())
                {
                    <option value="@value">@value</option>
                }
            </InputSelect>
        </EditForm>
    </div>
    <div class="row mb-3">
        <ArriveFormComponent />
    </div>
    <div class="row mb-3">
        <ArrivelistComponent />
    </div>
</div>

@code {
    // Necessary for EditForm, which is necessary for InputSelect
    private object Model { get; } = new();
}