@using Not.Blazor.CRUD.Forms.Components
@using Not.Exceptions

@namespace Not.Blazor.Components
@inherits NComponent
@typeparam T
@typeparam TForm

@if (Model == null)
{
    <p>Model parameter is null at NDynamic</p>
}
else
{
}

<DynamicComponent Type="typeof(TForm)" @ref="_dynamicComponent" Parameters="_parameters" />
