.toolbar-button {
    margin-top: 5px;
    margin-bottom: 5px;
}

.action-column{
    display:inline-flex;
    justify-self:flex-end;
    margin-left:20px;
}

.half-width {
    display: inline-block;
    width: 48%;
}

.children-component{
    margin-top:10px;
}

.action-button-top {
    margin-bottom: 5px;
}

th.mud-table-cell {
    border-right-width: 0.8px !important;
    border-color: rgb(224, 224, 224) !important;
}

.d-grid{
    display: grid !important;
}

.grid-row-1 {
    grid-row: 1;
}