.toolbar-button {
    margin-top: 5px;
    margin-bottom: 5px;
}

.action-column{
    display:inline;
    margin-left:20px;
}

.half-width {
    display: inline-block;
    width: 48%;
}

.children-component{
    margin-top:10px;
}

.action-button-top {
    margin-bottom: 5px;
}

.visible {
    display: block;
}

.hidden {
    display: none;
}

th.mud-table-cell {
    border-right-width: 0.8px !important;
    border-color: rgb(224, 224, 224) !important;
}

