.toolbar-button {
    margin-top: 5px;
    margin-bottom: 5px;
}

.spinner-label {
    background-color: white;
    line-height: 1;
    z-index: 1;
}

.action-column{
    display:inline-flex;
    justify-self:flex-end;
    margin-left:20px;
}

.one-third-width {
    display: inline-block;
    width: 30%;
}

.hidden {
    display: none !important;
}

.children-component {
    margin-top:10px;
}

.action-button-top {
    margin-bottom: 5px;
}

th.mud-table-cell {
    border-right-width: 0.8px !important;
    border-color: rgb(224, 224, 224) !important;
}

.d-grid{
    display: grid !important;
}

.grid-row-1 {
    align-self:center;
    grid-row: 1;
}

.font-size-12{
    font-size:12px;
}

.font-size-10{
    font-size:10px;
}