@page "/startlist"
@using EnduranceJudge.Domain.AggregateRoots.Manager.Aggregates.Startlists
@using System.Text.Json

<button class="btn btn-primary" @onclick="() => this.GetStartlist()">Load</button>

<table class="table">
	<thead>
		<tr>
			<th>Participant</th>
			<th>Distance</th>
			<th>Start Time</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var start in this._startlist)
		{
			<tr>
				<td>@start.Number</td>
				<td>@start.Distance</td>
				<td>@start.StartTime</td>
			</tr>
		}
	</tbody>
</table>

@code {
	private List<StartModel> _startlist = new();

	private async Task GetStartlist()
	{
		var client = new HttpClient();
		try
		{
			var response = await client.GetStringAsync("http://192.168.0.230:11337/startlist");
			var startlist = JsonSerializer.Deserialize<IEnumerable<StartModel>>(response);
			this._startlist = startlist.ToList();
		}
		catch (Exception exception)
		{
			return;
		}
	}
}
