@using NTS.Domain.Setup.Entities
@using Not.Blazor.CRUD.Forms.Components

@using Not.Blazor.Navigation;


@attribute [Route(LOOP_UPDATE)]
@inherits NComponent

<NotPage Title="Configure Loop">

    <Main>
        <UpdateForm T="LoopFormModel" TForm="LoopForm" Model="_navigator.ConsumeParameter<LoopFormModel>()" />
    </Main>

</NotPage>

@code {
    [Inject]
    private ICrumbsNavigator _navigator { get; set; } = default!;
}
