@using NTS.Domain.Setup.Entities;
@using Not.Blazor.Components;
@using Not.Blazor.Navigation;
@using Not.Blazor.TM.Forms.Components
@using Not.Blazor.TM.Pages

@attribute [Route(LOOP_UPDATE)]
@inherits NotComponent

<NotPage Title="Configure Loop">

    <Main>
        <NotFormUpdate T="Loop" TForm="LoopForm" Entity="_navigator.ConsumeParameter<Loop>()" />
    </Main>

</NotPage>

@code {
    [Inject]
    private INavigator _navigator { get; set; } = default!;
}