@using NTS.Domain.Core.Objects
@using NTS.Judge.Blazor.Ports
@using System.Collections
@using Not.Blazor.TM
@using Not.Extensions

@attribute [Route(STARTLIST_PAGE)]
@inherits NotComponent

<NotPage Elevation="0" Title="Startlist">
    <Main>
        <Upcoming Starts="UpcomingList"/>
    </Main>
    <Main2>
        <History Starts="HistoryList"/>
    </Main2>
</NotPage>

@code{
    [Inject]
    private IStartlistBehind _behind { get; set; } = default!;
    private IEnumerable<Start> UpcomingList { get; set; } = new List<Start>();
    private IEnumerable<Start> HistoryList { get; set; } = new List<Start>();

    protected override async Task OnInitializedAsync()
    {
        await Observe(_behind);
        UpcomingList = _behind.Upcoming;
        HistoryList = _behind.History;
    }
}