@using System.Collections

@attribute [Route(STARTLIST_PAGE)]
@inherits NComponent

<NContent Title="Startlist">
    <Main>
        <StartlistUpcoming/>
        <StartlistHistory/>
    </Main>
</NContent>
